* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: '28 days later';
  src: url(./font_28_days_later/28\ Days\ Later.woff);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #1b1b24;
  cursor: default;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/*
.header__contact {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__block-wrapper {
  display: flex;
  align-items: center;
}

.header__contact-block {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 40px;
}

.header__social-media {
  display: flex;
  justify-content: right;
  align-items: center;
}


.header__icon-wrap {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1b1b24;
  margin-right: 10px;
}

.header__icon-wrap i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9f9f9;
  font-size: 14px;
}

.header__block-title {
  color: #7b7e83;
  font-size: 12px;
}

.header__block-content {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #1b1b24;
  transition: .3s;
}

.header__block-content-link {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #1b1b24;
  transition: .3s;
  cursor: pointer;
}

.header__block-content-link:hover {
  color: #abb0bb;
}

.header__social-media {
  padding: 10px 40px;
}

.header__media {
  color: #abb0bb;
  margin: 0 10px;
  transition: .3s;
}

.header__media:hover {
  color: #1b1b24;
} */


.navigation {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 10px 10px -15px #111;
}

.navigation--active {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 10px 10px -15px #111;
}

.navigation__logo {
  width: 30%;
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 5px 40px;
}

.navigation__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1b1b24;
}

.navigation__logo-title {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: '28 days later'
}

.navigation__logo-img {
  width: 25%;
}

.navigation__logo-img--active {
  width: 15%;
}

.navigation__list {
  margin-right: 40px;
}

.navigation__item {
  display: inline-block;
  margin: 30px 10px;
}

.navigation__link {
  text-decoration: none;
  color: #1b1b24;
  text-transform: uppercase;
  font-size: 14px;
}

.navigation__icon {
  font-size: 18px;
}

.navigation__link--hover {
  border-bottom: 1px solid #1b1b24;
}

.navigation__link:hover {
  color: #7b7e83;
}

.header__title-content {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f9f9f9;
  text-transform: uppercase;
}

.header__title {
  font-size: 60px;
  font-family: '28 days later'
}

.header__small-title {
  font-size: 40px;
  font-family: '28 days later'

}


.benefits {
  width: 100%;
  height: 30vh;
  background-image: url(./img/bgtool.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.benefits__bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30vh;
  background-color: rgba(22, 19, 19, 0.8);
  overflow: hidden;
}


.leftBenefits {
  transform: translateX(-100%);
  transition: .5s;
}

.leftBenefits--active {
  transform: translateX(0);
}

.centerBenefits {
  transform: translateY(150%);
  transition: .5s;
}

.rightBenefits {
  transform: translateX(100%);
  transition: .5s;
}

.benefits__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.benefits__container--active {
  transform: translate(0);
}

.benefits__icon {
  font-size: 60px;
  color: #f2f2f2;
  margin-bottom: 30px;
}

.benefits__text {
  text-align: center;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
}


.our-works__img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-works__img {
  width: 30%;
  height: 100%;
  margin: 20px 0;
}

.our-works__title,
.title {
  margin: 40px;
  text-transform: uppercase;
  color: #1b1b24;
  font-weight: 300;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 50px;
  height: 2px;
  background-color: #1b1b24;
}

.our-works__all-works {
  background-color: #1b1b24;
  color: #f2f2f2;
  margin: 0 auto;
  display: block;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.our-works__all-works:hover {
  background-color: #2e2e33;
}

.about-me__content-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me__content {
  max-width: 60%;
  line-height: 25px;
}

.about-me__img {
  width: 20%;
}

.offer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offer__container-content {
  width: 50%;
}

.offer__img {
  width: 35%;
}

.offer__video {
  width: 35%;
}

.offer__content-list {
  margin-top: 20px;
}

.offer__content-item {
  list-style: none;
  line-height: 25px;
}

.fa-check {
  font-size: 12px;
}

.collaboration {
  margin-bottom: 30px;
}

.collaboration__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.collaboration__img {
  width: 35%;
}

.collaboration__container-content {
  width: 50%;
}

.collaboration__content-item {
  list-style: none;
  line-height: 25px;
}

.collaboration__content-list {
  margin: 20px 0;
}

.footer {
  background-color: #292929;
}


.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.footer__contact-block {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 10px;
}


.footer__icon {
  color: #f9f9f9;
  font-size: 25px;
  margin-right: 10px;
}

.footer__block-title {
  color: #b8b8b8;
  font-size: 12px;
}

.footer__block-content {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #f9f9f9;
  transition: .3s;
  cursor: default;
}

.footer__block-content-link {
  text-decoration: none;
  color: #f9f9f9;
  transition: .3s;
}

.footer__block-content-link:hover {
  color: #abb0bb;
  cursor: pointer;
}

.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f9f9f9;
  text-transform: uppercase;
}


.footer__line {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.233);
}

.footer__copyright {
  text-align: center;
  padding: 20px 0;
  color: #f9f9f9;
  font-size: 10px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

}

.contact-bg {
  background-color: #292929;
  position: relative;
}

.contact-block {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper {
  width: 50%;
}

.map {
  width: 150%;
  height: 55vh;
}


.contact__icon {
  color: #f9f9f9;
  font-size: 25px;
  width: 15%;
  text-align: center;
}


button.hamburger:focus {
  outline: transparent auto 1px;
}


.burger-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.burger-menu__wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}


.burger-menu__logo {
  display: flex;
  align-items: center;
}

.burger-menu__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1b1b24;
}

.burger-menu__logo-title {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.burger-menu__logo-img {
  height: 9vh;
  margin: 5px 0;
}


.burger-menu__list {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 99%;
  text-align: center;
  background-color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0;
  transform: translateY(-150%);
  transition: 0.3s;
  z-index: -1;
}

.burger-menu__list--active {
  transform: translateY(0);
}

.burger-menu__item {
  list-style: none;
}

.burger-menu__link {
  color: #1b1b24;
  text-decoration: none;

}

@media (max-width: 1250px) {
  .header__contact-block {
    padding: 10px 20px;
  }
}

@media (max-width: 1100px) {
  .header__contact-block {
    padding: 10px 10px;
  }

  .footer__contact-block {
    padding: 10px 0;
  }
}

@media (max-width: 1024px) {

  .header {
    height: 100vh;
  }

  .header__title-content {
    top: 50%;
  }

  .contact-info {
    padding: 150px 0;
  }


  .navigation {
    display: none;
  }

  .header__contact {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .footer__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .footer__contact-block {
    margin: 0 auto;
  }

  .footer__logo {
    width: 90%;
  }

  .footer__title {
    margin: 0 auto;
  }
}

@media (max-width: 900px) {

  .about-me__img {
    width: 25%;
  }

}

@media (max-width: 768px) {

  .about-me__img {
    width: 30%;
  }

  .our-works__img {
    width: 40%;
  }

  .offer__container {
    flex-wrap: wrap;
  }

  .offer__container-content {
    width: 80%;
  }

  .offer__img {
    margin-top: 30px;
    width: 80%;
  }


  .collaboration__container {
    flex-wrap: wrap;
  }

  .collaboration__img {
    width: 80%;
  }

  .collaboration__container-content {
    width: 80%;
    margin-top: 30px;
  }

  .footer__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .footer__contact-block {
    margin: 0 auto;
    width: 80%;
  }

  .footer__logo {
    width: 90%;
  }

  .footer__title {
    margin: 0 auto;
  }


  .contact-info {
    flex-wrap: wrap;
    padding: 130px 0 0 0;
  }

  .contact-block {
    width: 100%;
    margin-top: 30px;
  }

  .map-container {
    width: 70%;
  }

  .flex-wrapper {
    width: 100%;
  }

  .map {
    width: 100%;
    height: 40vh;
  }

}



@media (max-width: 700px) {


  .about-me__content-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .about-me__content {
    max-width: 80%;
    line-height: 25px;
  }

  .about-me__img {
    display: block;
    margin-top: 20px;
    width: 30%;

  }

}


@media (max-width: 600px) {
  .burger-menu__logo-title {
    font-size: 20px;
  }

  .header__title {
    font-size: 50px;
  }

  .benefits__icon {
    font-size: 45px;
  }

  .benefits__text {
    font-size: 16px;
  }

  .contact-info {
    flex-wrap: wrap;
    padding: 100px 0 0 0;
  }
}

@media (max-width: 500px) {
  .header__title {
    font-size: 40px;
  }

  .about-me__img {
    width: 50%;
  }


  .title {
    margin: 20px 30px;
  }

}

@media (max-width: 350px) {
  .burger-menu__logo-title {
    font-size: 16px;
  }

  .header__title {
    font-size: 35px;
  }

  .benefits__icon {
    font-size: 40px;
  }

  .benefits__text {
    font-size: 14px;
  }

}

@media (max-width: 812px) and (orientation: landscape) {

  .header__title {
    font-size: 40px;
  }

  .benefits {
    height: 50vh;
  }

  .benefits__bg {
    height: 50vh;
  }

  .contact-info {
    padding: 80px 0;
  }

}
