* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: '28 days later';
  src: url(./font_28_days_later/28\ Days\ Later.woff);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #1b1b24;
  cursor: default;
  font-weight: normal;
}

.header {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.navigation {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 10px 10px -15px #111;
}

.navigation--active {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 10px 10px -15px #111;
}

.navigation__logo {
  width: 30%;
  display: inline-block;
  display: flex;
  align-items: center;
  margin: 5px 40px;
}

.navigation__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1b1b24;
}

.navigation__logo-title {
  display: inline-block;
  margin: 0 10px;
  font-size: 28px;
  font-family: '28 days later';
  letter-spacing: 3px;
  font-weight: normal;
}

.navigation__logo-img {
  width: 18%;
}

.navigation__logo-img--active {
  width: 15%;
}

.navigation__list {
  margin-right: 40px;
}

.navigation__item {
  display: inline-block;
  margin: 20px 10px;
}

.navigation__link {
  text-decoration: none;
  color: #1b1b24;
  text-transform: uppercase;
  font-size: 14px;
}

.navigation__icon {
  font-size: 18px;
}

.navigation__link--hover {
  border-bottom: 1px solid #1b1b24;
}

.navigation__link:hover {
  color: #7b7e83;
}

.header__title-content {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f9f9f9;
}

.header__title {
  font-size: 60px;
  font-family: '28 days later';
  letter-spacing: 18px;
  font-weight: normal;
}

.header__small-title {
  font-size: 35px;
  font-family: '28 days later';
  letter-spacing: 10px;
  font-weight: normal;
}

.our-works__img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-works__img {
  width: 30%;
  height: 100%;
  margin: 20px 0;
}

.our-works__title,
.title {
  margin: 30px;
  text-transform: uppercase;
  color: #1b1b24;
  font-weight: 300;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 50px;
  height: 2px;
  background-color: #1b1b24;
}

.our-works__all-works {
  width: 200px;
  background-color: #1b1b24;
  color: #f2f2f2;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.our-works__all-works:hover {
  background-color: #2e2e33;
}

.about-me__content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me__content {
  max-width: 60%;
  line-height: 25px;
}

.about-me__img {
  width: 25%;
}

.offer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offer__container-content {
  width: 50%;
}

/* .offer__img {
  width: 35%;
} */

.offer__video {
  width: 35%;
}

.offer__content-list {
  margin-top: 20px;
}

.offer__content-item {
  list-style: none;
  line-height: 25px;
}

.fa-check {
  font-size: 12px;
}

.collaboration {
  margin-bottom: 30px;
}

.collaboration__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.collaboration__img {
  width: 35%;
}

.collaboration__container-content {
  width: 50%;
}

.collaboration__content-item {
  list-style: none;
  line-height: 25px;
}

.collaboration__content-list {
  margin: 20px 0;
}

.footer {
  background-color: #292929;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.footer__contact-block-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__contact-block {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 10px;
}

.footer__icon {
  color: #f9f9f9;
  font-size: 25px;
  margin-right: 10px;
}

.footer__block-title {
  color: #b8b8b8;
  font-size: 12px;
}

.footer__block-content {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #f9f9f9;
  transition: .3s;
  cursor: default;
}

.footer__block-content-link {
  text-decoration: none;
  color: #f9f9f9;
  transition: .3s;
}

.footer__block-content-link:hover {
  color: #abb0bb;
  cursor: pointer;
}

.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f9f9f9;
  font-family: '28 days later';
  letter-spacing: 3px;

}

.footer__title {
  font-size: 28px;
  font-weight: normal;
}


.footer__line {
  height: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.233);
}

.footer__copyright {
  text-align: center;
  padding: 20px 0;
  color: #f9f9f9;
  font-size: 10px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

}

.contact-bg {
  background-color: #292929;
  position: relative;
}

.contact-block {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.map-container {
  width: 70%;
  display: flex;
  justify-content: start;
  margin-left: 40px;
  align-items: center;
}

.flex-wrapper {
  width: 50%;
}

.map {
  width: 280%;
  height: 55vh;
}


.contact__icon {
  color: #f9f9f9;
  font-size: 25px;
  width: 15%;
  text-align: center;
}


button.hamburger:focus {
  outline: transparent auto 1px;
}


.burger-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 10px 10px -15px #111;
}

.burger-menu__wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}


.burger-menu__logo {
  display: flex;
  align-items: center;
}

.burger-menu__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1b1b24;
}

.burger-menu__logo-title {
  font-family: '28 days later';
  margin: 0 10px;
}

.burger-menu__logo-img {
  height: 9vh;
  margin: 5px 0;
}


.burger-menu__list {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 99%;
  text-align: center;
  background-color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0;
  transform: translateY(-150%);
  transition: 0.3s;
  z-index: -1;
}

.burger-menu__list--active {
  transform: translateY(0);
}

.burger-menu__item {
  list-style: none;
}

.burger-menu__link {
  color: #1b1b24;
  text-decoration: none;
}

@media (max-width: 1100px) {

  .navigation {
    display: none;
  }

  .header__contact {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .navigation__item {
    display: inline-block;
    margin: 0px 10px;
  }

  .header {
    height: 100vh;
  }

  .contact-info {
    padding: 150px 0;
  }
}

@media (max-width: 1024px) {

  .header__title-content {
    top: 50%;
  }

  .offer__video {
    width: 40%;
  }

  .footer__container {
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .footer__contact-block {
    margin: 0 auto;
  }

  .footer__logo {
    width: 90%;
  }

  .footer__title {
    margin: 0 auto;
    font-family: '28 days later';
  }
}

@media (max-width: 900px) {

  .about-me__img {
    width: 30%;
  }

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
  }

  .footer__contact-block-wrapper {
    display: block;
  }

  .footer__contact-block {
    width: 100%;
  }

  .footer__logo {
    width: 100%;
  }


}

@media (max-width: 768px) {
  .our-works__img {
    width: 40%;
  }

  .offer__container {
    flex-wrap: wrap;
  }

  .offer__container-content {
    width: 90%;
  }

  .title {
    margin: 25px;
  }

  .offer__video {
    margin-top: 20px;
    width: 90%;
  }

  .about-me__content-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .about-me__content {
    max-width: 90%;
    line-height: 25px;
  }

  .about-me__img {
    display: block;
    margin-bottom: 20px;
    width: 90%;
  }

  .collaboration__container {
    flex-wrap: wrap;
  }

  .collaboration__img {
    width: 90%;
  }

  .collaboration__container-content {
    width: 90%;
    margin-top: 30px;
  }

  .contact-info {
    flex-wrap: wrap;
    padding: 130px 0 0 0;
  }

  .contact-block {
    width: 90%;
    justify-content: center;
    margin: 0;
  }

  .contact__icon {
    width: 7%;
  }

  .map-container {
    width: 90%;
    justify-content: center;
    margin: 0;
  }

  .flex-wrapper {
    width: 90%;
  }

  .map {
    width: 100%;
    height: 40vh;
  }

}


@media (max-width: 600px) {
  .burger-menu__logo-title {
    font-size: 20px;
  }

  .header__title {
    font-size: 50px;
  }

  .contact__icon {
    width: 15%;
  }

  .header__small-title {
    font-size: 30px;
  }

  .contact-info {
    flex-wrap: wrap;
    padding: 100px 0 0 0;
  }
}

@media (max-width: 500px) {
  .our-works__img {
    width: 90%;
  }

  .header__title {
    font-size: 40px;
    letter-spacing: 10px;
  }

  .header__small-title {
    margin-top: 10px;
    font-size: 19px;
    letter-spacing: 10px;
    width: 100%;
  }

  .title {
    margin: 25px 30px;
  }
}

@media (max-width: 350px) {
  .burger-menu__logo-title {
    font-size: 16px;
  }

  .header__title {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .header__small-title {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 10px;
    width: 100%;
  }

  .benefits__icon {
    font-size: 40px;
  }

  .benefits__text {
    font-size: 14px;
  }

}

@media (max-width: 812px) and (orientation: landscape) {
  .header__title {
    font-size: 40px;
    letter-spacing: 10px;
  }

  .header__small-title {
    margin-top: 10px;
    font-size: 35px;
    letter-spacing: 10px;
    width: 100%;
  }

  .contact-info {
    padding: 80px 0;
  }
}
